<h3>Login:</h3>

<form action="/login" method="post">
  Username: <input type="text" name="username">
  <br>
  <br>
  Password: <input type="password" name="password">
  <br>
  <br>
  <input type="submit" value="Login" id="submit">
</form>
<br>
Don't have an account? <a href="/signup">Sign Up!</a>
