<% if flash.has?(:message) %>
   <p style="color:red"><%= flash[:message] %></p>
<% end %>

<h3 class="header">Sign Up Below:</h3>

<form action="/signup" method="post" class="form">
  Username: <input type="text" name="username" class="textbox">
  <br>
  <br>
  Password: <input type="password" name="password" class="textbox">
  <br>
  <br>
  Email: <input type="text" name="email" class="textbox">
  <br>
  <br>
  City: <input type="text" name="city" class="textbox">
  <br>
  <br>
  State: <input type="text" name="state" class="textbox">
  <br>
  <br>
  <input type="submit" value="Create Account" class="button">
</form>

<br>
Already have an account? <a href="/login">Login!</a>
