  <!-- Header -->
  <header class="w3-container w3-center" style="padding:128px 16px" id="home">
    <h1 class="w3-jumbo"><b>Fresh Bites</b></h1>
    <p>Recipes for pawsome pups.</p>

  </header>

  <body>
<div class="w3-text-grey" style="text-align:center">
  <a href="/login">Login</a>
</div>
<br>
<div class="w3-text-grey" style="text-align:center">
  <a href="/signup" >Sign Up</a>
</div>

  </body>
